*{
    margin: 0;
    box-sizing: border-box;
}
/*------------------------------------- header ---------------------------- */
.header{
    background-color:#484c57 ;
}
.header .row{
    /* margin: 0 auto; */
}
.header .row .col{
    display: flex;
    justify-content: space-between;
    padding: 10px 110px;
}
.header .row .col .off{
    color: white;
    font-size: 16px;
}
.header .row .col .help-menu a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin-right: 15px;
}
.header .row .col .help-menu select{
    background-color: #484c57;
    border: none;
    color: white;
    margin-right: 10px;
}
/*---------------------------------------- nav ------------------------------------------- */
nav{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    border: 1px solid rgb(225, 224, 224); 
    padding: 10px 0;
}
nav .container{
    background-color: white;
    margin: 0 auto;
}
nav .container .row{
    display: flex;
}
nav .container .row .col{
    display: flex;
} 
nav .container .row .col .main-logo{
    width: 125px;
    height: 43px;
    margin: 0 90px;
}
nav .container .row .col .main-logo img{
    width: 100%;
    height: 100%;
    object-fit:contain;
} 
nav .container .row .col .vegetables{
    width: 150px;
    height: 43px;
}
nav .container .row .col .vegetables select{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(225, 224, 224);
    border-radius: 5px 0 0 5px;   
}

nav .container .row .col .search{
    color: rgb(225, 224, 224);
    border-radius: 0 10px 10px 0;
    margin-right: 200px;
    position: relative;
}
nav .container .row .col .search input{
    width: 455px;
    height: 43px;
    border: 1px solid rgb(225, 224, 224);
    border-radius: 0 10px 10px 0;
}
nav .container .row .col .search i{
    margin: 13px 0 0 -40px;
    position: absolute;
}
nav .container .row .col .profile{
    margin-right: 35px;
}

nav .container .row .col .profile a{
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 10px;
}
nav .container .row .col .profile i{
     font-size: 24px;
     color: rgb(108, 108, 254);
}
nav .container .row .col .profile .text-user{
    color: #4c4949;
}
/*---------------------------------------------------- nav----------------------------- */
nav .container .row .col .icon{
    width: 30px;
    height: 30px;
    box-shadow: 0px 0px 5px grey;
    margin-left: 100px;
    
}
nav .container .row .col .icon i{
    font-size:25px;
    color: rgb(108, 108, 254);
    margin: 2.5px 0;
}
nav .container .row .col .menu{
    position: relative;

}
nav .container .row .col .menu a{
    font-size: 18px;
    text-decoration: none;
    color: rgb(42, 41, 41);
    margin-left: 20px;
    
}
nav .container .row .col .menu a:hover{
    color: rgb(108, 108, 254) ;
}
.dropdown{
    width: 980px;
    height: 290px;
    border-radius: 10px;
    background-color: white;
    margin-top: 25px;
    position: absolute;
    display: flex;
   
}
.dropdown .drop-row{
    width: 20%;
}
.dropdown .drop-row h4{
    color: rgb(108, 108, 254);
    border-bottom: 2px solid rgb(219, 217, 217);
    padding: 20px 0;
  
}
nav .container .row .col .menu a .dropdown .drop-row .drop-col a p{
    color: #848588;
}
nav .container .row .col .menu:hover .dropdown{
    display: block;
}

nav .container .row .col .menu a span i{
    font-size: 16px;
    color: rgb(108, 108, 254);
}
nav .container .row .col .menu i{
    font-size: 8px;
}
nav .container .row .col .location{
    width: 150px;
    height: 35px;
    position: relative;
    margin-left: 450px;
}
nav .container .row .col .location i{
    margin: 7px -2px 0 0;
     color: rgb(108, 108, 254);
     position: absolute;
}
nav .container .row .col .location select{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(210, 207, 207) ;
    border-radius: 5px;
    font-size: 17px;
    color:rgb(207, 207, 210) ;
}
/* ---------------------------------heality-------------------------------------------------------- */
section{
    width: 1530px;
    margin: 0 auto;
}
section .container{
    background-color:rgb(242, 242, 250) ;
    display: flex;
   
}
section .container img{
    margin-left: 400px;
}
section .container .text{
    margin: 200px 0 0 140px;
  
}
section .container .text h3{
    color: #86858577;

}
section .container .text h1{
    margin: 20px 0;
    font-size: 43px;
}
section .container .text h1 span{
    color:rgb(108, 108, 254) ;
}
section .container .text button{
    border: 1px solid #848588;
    border-radius: 5px;
    padding: 10px 20px;
    color: #848588;
}
section .container .text button:hover{
    background-color: rgb(218, 218, 247);
    cursor: pointer;
}
section .container .text .color{
    width: 100px;
    border: 1px solid black;
    display: flex;
    overflow: hidden; 
}
section .container .text .color .color1{
    height: 20px;
    width: 500px;
    background-color: rgb(108, 108, 254);
    margin: 0 0 -10px 5px;
    transform: rotate(308deg);
}
/*--------------------- explore Categores  ------------------------------------- */
section .container-explore{
    display: flex;
}
section .container-explore .image{
    background:url(/assets/image/category.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    width: 540px;
    height: 540px;
    margin: 50px 0;
    margin-left: 130px;
    overflow: hidden;
    position: relative;
}
section .container-explore .image .percentage{
    position: absolute;
    border-radius: 20px;
    padding: 10px 15px;
    margin-top: 15px;
    margin-left: 430px;
    background-color: #373737d7;
}
section .container-explore .image .percentage h4{
    color: white;
}
section .container-explore .row p{
    font-size: 120px;
    color: #9e9fa23a;
    margin-left: 30px;
    margin-top: 50px;
}
section .container-explore .row .items{
    width: 132%;
    height: 200px;
    margin-top: 60px;
    background-color: white;
    display: flex;   
}
section .container-explore .row .items .col-items{
    border-radius: 10px;
    width: 32%;
    margin-left: 10px; 
}
section .container-explore .row .items .col-items .img-items{
    width: 30%;
    margin: 0 auto;
    margin-top: 30px;

}
section .container-explore .row .items .col-items .txt-items{
    width: 49%;
    margin: 0 auto;
    margin-top: 20px;
}
section .container-explore .row .items .col-items .txt-items p{
    color: #545761;
    font-size: 16px;
    margin: 0 0;
    padding: 5px 20px;
}
section .container-explore .row .items .col-items:hover .img-items{
    transform: scale(1.5);
    transition: 500ms;
}
/*------------------------------- day of the deals  ------------------------------ */
h1{
    color:rgb(77, 75, 75) ;
    margin-bottom:10px ;
}
p{
    color: #545761;
}
.deals-container{
    margin:40px 0 40px 130px; 
}
.deals-row{
    width: 90%;
    height: 420px;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.deals-col{
    width: 24%;
    border: 2px solid rgb(241, 241, 239);
    border-radius: 20px;
    
}
.deals-image{
    border-bottom: 2px solid rgb(241, 241, 239);
    overflow: hidden;
    position: relative;
} 
.image{
    width: 100%;
    height: 310px;
    border-bottom: 2px solid rgb(241, 241, 239);
    background: url(/assets/image/apple.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.image2{
    background: url(/assets/image/almonds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.image3{
    background: url(/assets/image/mango\ juice.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.image4{
    background: url(/assets/image/fruits\ chocolate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.deals-col:hover .deals-image .image{
    transform: scale(1.3);
}
.deals-image p{
    margin: 8px 0 0 15px;
}
.deals-container .deals-row .deals-col .deals-contant{
    height: 110px;
}
.deals-container .deals-row .deals-col .deals-contant .contant-part{
    margin: 20px 0 0 20px;
}
.deals-container .deals-row .deals-col .deals-contant .contant-part a{
    text-decoration: none;
    color: rgb(64, 64, 64);
}
.deals-container .deals-row .deals-col .deals-contant .contant-part a h3{
    margin: 10px 0;
}
.deals-container .deals-row .deals-col .deals-contant .contant-part a p span{
    margin-left: 180px;
}
.deals-container .deals-row .deals-col .deals-contant:hover .contant-part a{
    color: rgb(108, 108, 254);
}
/* --------------------------------tasty fresh --------------------------------- */
.tasty-container{
    width: 82%;
    height: 300px;
    margin: 60px auto;
}
.tasty-container .tasty-row{
    height: 100%;
    display: flex;
    gap: 25px;
}
.tasty-container .tasty-row .tasty-col{
    width: 49%;
    height: 100%;
    border-radius: 20px;
    background: rgb(250, 224, 172);
    overflow: hidden;
   position: relative;
}
.tasty-container .tasty-row .tasty-col2{
    background: rgb(255, 150, 185);
}
.back-color{
  background: rgb(255, 245, 224);
  height: 100%;
  width: 80%;
  transform: skew(289deg);
}
.back-color2{
    background: rgb(253, 213, 226);
}
.tasty-container .tasty-row .tasty-col:hover{
 width:110%;
 height: 100%;
 transition: 500ms;
}
.tasty-image{
    position: absolute;
    z-index: 1;
    display: flex;
}
.tasty-imagepart{
    width: 60%;
    height: 100%;
}
.tasty-imagepart img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tasty-imagetxt{
    width: 38%;
    margin: 60px 0 0 10px;
}
.tasty-container .tasty-row .tasty-col:hover .tasty-imagetxt{
    margin-left: 120px;
}
.tasty-imagetxt button{
    border: 2px solid rgb(114, 112, 112);
    border-radius: 5px;
    margin-top: 20px;
    color: rgb(126, 123, 123);
    background: transparent;
}
/*------------------------------------- background image -------------------------------------- */
.background-image{
    background: url(/assets/image/organic\ vegetables.avif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    margin: 60px 0;
}
.background-row{
    width: 100%;
    position: relative;
}
.background-row .background-col{
    width: 20%;
    height: 200px;
    border-radius: 20px 20px 0 0;
    background-color: white;
    position: absolute;
    top: 400px;
    left: 20%;
    padding: 30px;
}
